<h1 class="title">日報アプリ</h1>

<h2 class="sab-title">来月の目標</h2>

<p>売上予算・人件費予算を入力してください</p>
<% form_with model: @monthly_goal, _path, local: true do |f| %>
  <%= form.datetime_field :day%>
  <%= form.number_field :sales_expectation %>
  <%= form.number_field :labor_cost %>
  <%= form.text_area :event %>
  <%= form.submit "送信"%>
<% end %>


