<div class="monthly-page">
<div class="container-fluid">

  <div class="header d-flex align-items-center">
    <h2 class="sab-title ">来月の目標</h2>  
  </div>

  <div class="monthly-form ">

    <div class="title pt-5 py-3">
      <p class="title-name mt-2">売上予算・人件費予算を入力してください</p>
    </div>
    
    <div class="forms p-5 text-center">
      <div class="form">
        <%= form_with(model: @monthly_goals, local: true) do |f| %>

        <div class="form-group row">
          <label class="set col-sm-2">日付:</label>
            <div class="col-sm-10">
              <%= f.date_field :day, class:"form-set", id:"day" %>
            </div>
        </div>

        <div class="form-group row">
          <label class="set col-sm-2">当日予算:</label>
            <div class="col-sm-10">
              <%= f.number_field :sales_expectation, class:"form-set", id:"sales" %>
            </div>
        </div>

        <div class="form-group row">
          <label class="set col-sm-2">当日人件費予算:</label>
            <div class="col-sm-10">
              <%= f.number_field :labor_cost, class:"form-set", id:"cost" %>
            </div>
        </div>

        <div class="form-group row">
          <label class="set col-sm-2">当日イベント予定:</label>
            <div class="col-sm-10">
              <%= f.text_area :event, class:"form-set", id:"event" %>
            </div>
        </div>

        <div class="submit mt-5">
          <p>保存する</p>
          <%= f.submit "保存", class:"submit-btn", id:"submit" %>
        </div>

      <% end %>

    </div>
  </div>

</div>
  <div class="bottom "></div>
</div>

