

<h2 class="sab-title">来月の目標</h2>

<p>売上予算・人件費予算を入力してください</p>
<%= form_with(model: @monthly_goals, local: true) do |f| %>
  <div class="monthly-goal">
    <div class="set-date">
      <p>日付</p>
      <%= f.date_field :day, class:"day", id:"day" %>
    </div>
    <div class="set-sales">
      <p>当日予算</p>
      <%= f.number_field :sales_expectation, class:"sales", id:"sales" %>
    </div>
    <div class="labor-cost">
      <p>当日人件費予算</p>
      <%= f.number_field :labor_cost, class:"cost", id:"cost" %>
    </div>
    <div class="set-event">
      <p>当日イベント予定</p>
      <%= f.text_area :event, class:"event", id:"event" %>
    </div>
    <div class="submit">
      <p>入力が終わったら送信してください</p>
      <%= f.submit "送信", class:"submit", id:"submit" %>
    </div>
  </div>
<% end %>


